<h1>Toto je můj create<h1>
    <h1>Toto je můj create<h1>

<p>Hello World<p>

<p>TAGY<p>

<p>PUSH bez referencí<p>

<p>PUSH with Tag<p>    
  
<p>Pull testing<p> 

    <p>Pull testing<p> 
    
<h1>Tak se teda stahni<h1>    

 <h1>Pořád mažu<h1>  

     <p>Create remove<p>  
         <p>Stash<p>
      <p>Stash<p>  
<p>RemoveRM<p>    
   <p>RemoveRM<p>   
       <p>Hello World<p> 

 <p>RemoveRM<p>   
       <p>Hello World<p>  
           <p>Hello World<p>  
               <p>PUSH with Tag<p>   
                          
=======
<h1>Tak se teda stahni<h1> 
<<<<<<< Updated upstream
    1>Tak se teda stahni<h1>
       
=======
 <h1>Tak se teda stahni<h1>   
<h1>Tak se teda stahni<h1> 
    <h1>Tak se teda stahni<h1>      
>>>>>>> Stashed changes
<h1>Testing Pop<h1>
    <h1>Testing Pop<h1>
>>>>>>> master
<p>Testing Push Tag<p>
<p>Testing Push Tag<p>
<p>Testing Push Tag<p>
      <h1>Testing Pop<h1>
       <h1>Testing Pop<h1> 
<h1>Testing Pop<h1>                   
    <p>Hello World<p>